
    <a href="/" class="btn active">回到首頁</a>  
    <a href="/Contact" class="btn right">Contact</a>
    <a href="/Portfolio" class="btn right">Portfolio</a>
    <a href="/About" class="btn right">About</a>
    <h1 class="mb-4 mt-3">首頁</h1>